<footer role="contentinfo" style="background:#00979c;">
        <div class="container" style="text-align:center;padding-top: 25px;color: white; margin-top:5px; max-width:100%;">
            <div class="row" style="margin-top:5px"> 
                 <div class="col-md-4">
                   <center>
                    <a href="https://fossee.in"><img style=" width:150px;background: #fff;"src="{{ base_path ~ directory }}/image/fossee-logo.png"/><a/>
                   </center>
                 </div>
                 <div class="col-md-4">
                   <center>
                        <a href="https://www.iitb.ac.in/"><img style="width: 60px;background: #fff" src="{{ base_path ~ directory }}/image/iitb-logo.png"/><a/>
                   </center>
                 </div>
                 <div class="col-md-4">
                   <center>
                        <a href="http://www.sakshat.ac.in/"><img style="width: 150px;background: #fff;height: 58px;"src="{{ base_path ~ directory }}/image/NMEICT.png"/></a>
                   </center>
                 </div>
               </div> 
           <div class="row" style="padding-top: 20px;margin-bottom: 20px;border-bottom-width: 0px;"> 
             <p><center>
                   This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License
                </center></p>
             <center><a href='https://creativecommons.org/licenses/by-sa/4.0/'/><img src="{{base_path ~ directory }}/image/img1.png" ></center></a>
        </div>
</footer>
